.App {
  text-align: center;
  padding: 6rem;
}

.counter {
    font-size: 10rem;
    font-weight: 100;
    margin: 0;
}

.counter-label {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
}

.counter-button {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #eee;
}
